:root {
  --color-white: #f3f3f3;
  --color-black: #201c2d;
  --color-blue: #2878C8;
  --color-red: #BE3241;
  --color-orange:#FF7828;
  --color-blue-green: #1E8278;
  --color-green: #78B432;
  --color-purple: #6E32A0;
}

body {
  /* remove the user agent stylesheet margins */
  margin: 0;

  /* correct fonts don't work? */
  font-family: 'effra' 'jubilat';
  font-size: 20px;
  color: var(--color-black);
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50vh 50vh;
}

img {
  display: inline-block;
  margin-left: 20px;

  float: left;

  height: 40px;
}

header {
  background: var(--color-blue-green);
  color: var(--color-white);

  position: fixed; /* Fixed position - sit on top of the page */
  top: 0;
  width: 100%; /* Full width */
}

nav {
  margin-right: 20px;
  margin-top: 20px;

  text-align: right;
  color: var(--color-white);
}

h1 {
  margin-top: 40px;
  margin-left: 20px;

  font-size: 48px;
}

h2 {
  margin-left: 20px;
  font-size: 40px;
}

h3 {
  margin-left: 40px;

  font-size: 32px;
  font-style: italic;
}

h4 {
  margin-left: 40px;
  margin-bottom: 0px;
  font-size: 20px;
}

p{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-top: 0px;

  text-indent: 40px;
  width: 66%;

  font-size: 20px;
  line-height: 28px;
}

ul {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0px;

  display: inline;

  text-indent: 40px;
  width: 66%;

  font-size: 20px;
  line-height: 28px;
}

.information {
  padding-bottom: 20px;
}

.tips {
  padding-top: 0.5px;

  background: var(--color-blue-green);
  color: var(--color-white);
}

@media screen and (max-width: 900px) {

} 
